.classpath
.project
.settings/
bin/
src/META-INF/
# ant build folders
ant-build
ant-dist
ant-doc
# no comment
.DS_Store
# automated versioning (from Git/SVN)
src/com/juliasoft/beedeedee/VersionInfo.java
# Ivy resolver stuff
distrib
